<ion-navbar *navbar>
	<ion-title>{{device.name}}</ion-title>
</ion-navbar>
<ion-content>
	<ion-list inset>
		<ion-item-sliding *ngFor=”#characteristic of characteristics” #slidingItem>
			<button ion-item (click)=”connectToCharacteristic(device.id,characteristic)”>
				<h2>{{characteristic.characteristic}}</h2>
				<p>{{characteristic.properties}}</p>
				<p>{{characteristic.isNotifying}}</p>
				<p>{{characteristic.service}}</p>
			</button>
		</ion-item-sliding>
	</ion-list>
	<ion-spinner *ngIf=”connecting==true” name=”circles”></ion-spinner>
</ion-content>