<ion-header>

  <ion-navbar>
    <ion-title>Course creation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="createdString">
    <ngx-qrcode [qrc-value]="createdString" qrc-errorCorrectionLevel = "L"></ngx-qrcode>
    <ion-card-content>
      <p>Key : {{ readableKey }}</p>
      <p>IV : {{ readableIV }} </p>
      <p>CreatedString: {{ createdString }}</p>
    </ion-card-content>
  </ion-card>

  <button *ngIf="createdString" ion-button block round (click)="openMapPage()">
    Everybody joined
  </button>

</ion-content>
